# Query Table Information
This notebook will show how to query the number of tables and a table'columns given a database using the powerful SELECT.

In [1]:
import sqlite3 as sql

### Connet to the given database of demo.db3

In [2]:
conn = sql.connect('data/writers.db')

### List tables in a database
Table and index names can be list by doing a SELECT on a special table named "SQLITE_MASTER". Every SQLite database has an SQLITE_MASTER table that defines the schema for the database. For tables, the type field will always be 'table' and the name field will be the name of the table. So to get a list of all tables in the database, use the following SELECT command:

In [3]:
table_list = conn.cursor().execute('''
                SELECT name
                FROM sqlite_master
                WHERE type='table' ''')
table_list.fetchall()

[('writers',)]

### List columns in a table
We take the table of writers as an example

In [4]:
columns = conn.cursor().execute('''
    PRAGMA table_info(writers)
    ''')
columns.fetchall()

[(0, 'FirstName', 'VARCHAR(50)', 1, None, 0),
 (1, 'LastName', 'VARCHAR(50)', 1, None, 0),
 (2, 'USERID', 'int', 1, None, 1)]

# References
- [Chonghua Yin notebook](https://github.com/royalosyin/Practice-SQL-with-SQLite-and-Jupyter-Notebook/blob/master/ex02-Query%20Table%20Information.ipynb)