# Quick start
This quick start is a complete example to show how to:

- create a SQLite database
- create a data table
- insert data into the table
- query data from the table

In [6]:
import sqlite3

## Create A SQLite database
For practice purposes, it's advisable to create your own database, so that you are free to perform any operations on it. If using the SQLite shell, we can apply the open command to both create a SQLite database or open it in case it already exists just like:

In [7]:
#Connecting to sqlite
conn = sqlite3.connect('data/writers.db')

## Create a table
%%sql let you use multiple SQL statements inside a single cell.

It is now time to create one using a standard SQL command â€“ CREATE TABLE. If the table already existed in the database, an error will pop up. In addition, we set PRIMARY KEY on USERID to prevent from inserting duplicate writers into the table.

In [ ]:
#Creating a cursor object using the cursor() method
cursor = conn.cursor()

#Creating table as per requirement
sql ='''CREATE TABLE writers(
    FirstName VARCHAR(50) NOT NULL,
    LastName VARCHAR(50) NOT NULL,  
    USERID int  NOT NULL UNIQUE, 
    PRIMARY KEY (USERID)
)'''
cursor.execute(sql)

## Add data to the table
The table we have j st created is empty. Now we insert some sample data inside it. To populate this data in the form of rows, we use the command INSERT.

In [ ]:
cursor.execute('''INSERT INTO writers
                  VALUES('William', 'Shakespeare', 1616)''')
cursor.execute('''INSERT INTO writers
                  VALUES('Lin', 'Han', 1996)''')
cursor.execute('''INSERT INTO writers
                  VALUES('Peter', 'Brecht', 1978)''')

# commit changes to db
conn.commit()
# close the connection
# conn.close()

## Write the First Query
Let us now turn our attention to writing a simple query to check the results of our previous operations in which we created a table and inserted three rows of data into it. For this, we would use the command called SELECT.

We can put the query result into a variable such as the following sqlres.

In [ ]:
sqlres =  conn.cursor().execute('''SELECT *
                                FROM writers''')
sqlres.fetchall()

[('William', 'Shakespeare', 1616),
 ('Lin', 'Han', 1996),
 ('Peter', 'Brecht', 1978)]

You also can select the specific colummns using their names just like:

In [ ]:
sqlres2 = conn.cursor().execute('''
    SELECT FirstName, LastName
    FROM writers''')
sqlres2.fetchall()

[('William', 'Shakespeare'), ('Lin', 'Han'), ('Peter', 'Brecht')]

# References:
- [Chonghua Yin notebook](https://github.com/royalosyin/Practice-SQL-with-SQLite-and-Jupyter-Notebook/blob/master/ex01-Quick%20Start.ipynb)